{% extends 'base.html' %}
{% load staticfiles %}
{% load l10n %}
{% load iom_filters %}
{% block breadcrumbs %}{% endblock %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.14/themes/css/cartodb.css" />
<style>
body, html {height: 100%;}
.fullheight {height: 100%;}
.fullwidth {width: 100%;}
.wrapper {height: 100%;}
.scroll {overflow-x: hidden; overflow-y: auto;}
#map {width: 100%; height: 100%; padding-bottom: 20px;}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    float: none;
}
.chart-ec {
	width: 380px;
	height: 120px;
}     
.cartodb-popup {
	min-height: 200px;
}
.persona {
	height: 24px;
	padding-right: 12px;
}
.update {
 	margin-top: -20px;
}
.laatste {
	float:right;
}

.legend {
	position: absolute;
	top: 56px;
	right: 32px;
	height: 40px;
	padding: 2px;
}

#datepicker {
    cursor: pointer;
    padding: 5px 10px;
	position:absolute;
	right: 196px;
	top: 0px;
	display:none;
	margin:19px 0 0 20px;
	height: 30px;
	color: #999;
	font-size: small;
	-webkit-box-shadow:rgba(0,0,0,.2) 0 0 4px 2px;
	-moz-box-shadow:rgba(0,0,0,.2) 0 0 4px 2px;
	box-shadow:rgba(0,0,0,.2) 0 0 4px 2px;
	background:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	border:1px solid #999;
	z-index:105
}

</style>
{% endblock extrastyle %}
{% block script %}
{{ block.super }}
{% localize off %}
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.14/cartodb.js"></script>
<script>
var theMap = null;
var theLayer = null;
var theStart = null;

window.onload = function() {
  cartodb.createVis('map', '{{cartodb.viz}}')
  	.done(function(vis, layers) {
  		theMap = vis.getNativeMap();
  		theLayer = layers[1];
  		var numLayers = theLayer.getSubLayerCount();
  		{% block createdone %}
  		{% if layer %}
	  		var on = {{layer}};
	  		var off = on?0:1;
	  		theLayer.getSubLayer(on).show();
	  		theLayer.getSubLayer(off).hide();
			{% if start %}
				// modify where clause in sublayer sql query definitiions
				var pattern = /datum > '\d+-\d+-\d+'/i;
				var replacement = "datum > '{{start}}'";
				for(i=0;i<numLayers;i++) {
					var layer = theLayer.getSubLayer(i);
					var sql = layer.getSQL();
					layer.setSQL(sql.replace(pattern,replacement));
				}
			{% endif %}
		{% endif %}
		{% endblock createdone %}
  		// show date picker
  		var e = document.getElementById("datepicker");
  		e.style.display = 'block';
  	});
    $("#list").height($("#map").height());
}
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script type="text/javascript">
$(function() {
	
	function filter(start) {
		if (theMap) {
			var pattern = /datum > '\d+-\d+-\d+'/i;
			var replacement = "datum > '"+start+"'";
	  		var numLayers = theLayer.getSubLayerCount();
			for(i=0;i<numLayers;i++) {
				var layer = theLayer.getSubLayer(i);
				var sql = layer.getSQL();
				sql = sql.replace(pattern,replacement);
				layer.setSQL(sql);
			}
		}
	}

	function apply(start, end) {
		theStart = start;
		$('#datepicker span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
		var fromdate = start.format('MM-DD-YYYY');
		filter(fromdate);
	}

	moment.locale('nl-NL');
	
	$('#datepicker').daterangepicker({
    	"applyClass": "btn-primary",
    	"singleDatePicker": false,
    	"locale": {
            "format": "D MMM YYYY",
            "separator": " - ",
            "applyLabel": "Ok",
            "cancelLabel": "Filter verwijderen",
            "fromLabel": "Van",
            "toLabel": "Tot",
            "customRangeLabel": "Handmatig",
            "daysOfWeek": ["Zo", "Ma", "Di", "Wo", "Do", "Vr", "Za"],
            "monthNamesShort": ["Jan", "Feb", "Mrt", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"],
            "monthNames": ["Januari", "Februari", "Maart", "April", "Mei", "Juni", "Juli", "Augustus", "September", "Oktober", "November", "December"],
            "firstDay": 1
        },
        ranges: {
           'Alleen Vandaag': [moment(), moment()],
           'Gisteren': [moment().subtract(1, 'days'), moment()],
           'Afgelopen week': [moment().subtract(6, 'days'), moment()],
           'Afgelopen maand': [moment().subtract(1, 'month'), moment()],
           'Afgelopen twee maanden': [moment().subtract(2, 'month'), moment()],
        }
    }, apply);
    
	{% if start %}
		apply(moment("{{start}}","MM-DD-YYYY"),moment());
    {% endif %}
    
    $('#datepicker').on('cancel.daterangepicker', function(ev, picker) {
    	// clear range and requery
        $('#datepicker span').html('');
  	  	filter("01-01-1970");
    });
});

function showWaarnemer(wid) {
 	var url = "waarnemer/"+wid;
 	var layer = theLayer.getSubLayer(0).visible? "0" : "1";
 	url += "?layer=" + layer;
 	if (theStart) {
 		var start = theStart.format("MM-DD-YYYY");
 		url += "&start="+start;
 	}
 	window.location.href=url;
 	return false;
}

</script>
{% endlocalize %}
{% endblock %}
{% block content %}
<div class = "container-fluid fullheight">
<div class = "row fullheight">
<div class = "col-md-9 fullheight">
<div class= "row fullheight"><div class="col-md-12 fullheight"><div id="map"></div>
<div id="datepicker" title="filter op datum" class = "pull-right"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;<span></span></div>
<img class="legend" src="{% static "img/legenda3.png" %}"></img>
</div></div>
{% if laatste %}
<div class= "row">
<div class="col-md-12">
<div class="update text-muted"><small>Geactualiseerd op {{akvo.last_update}}. Laatste waarneming door <a href="{% url 'waarnemer-detail' laatste.waarnemer.id %}">{{laatste.waarnemer}}</a> op {{laatste.datum}}</small></div>
</div>
</div>
{% endif %}
</div>
<div class = "col-md-3">
{% block list %}
<div id="list" class = "list-group scroll">
<a href="#" class="list-group-item active"><img class="persona" src="{% static "img/user_group_two-512.png" %}"></img>Waarnemers<span class="badge" title='Aantal waarnemers'>{{waarnemers|length}}</a>
{% for w in waarnemers %}
<a href="{% url 'waarnemer-detail' w.id %}" class="list-group-item">{{w}}
<!-- <a href="" class="list-group-item" onclick="showWaarnemer({{w.id}});">{{w}} -->
<span class = "badge" title='Aantal waarnemingen'>{{w.aantal_waarnemingen|defaultif0:""}}</span> <br/>
<div class='text-muted'><small>{{w.organisatie|default:"&nbsp;"}}<div class="laatste" title="datum van laatste waarneming">{{w.laatste_waarneming.datum|date:"j M Y"|default:""}}</div></small></div>
</a>
{% endfor %}
</div>
{% endblock list %}
</div>
</div>
{% endblock content %}
